.send-post{
    width: 100%;
    height: auto;
}

.send-post h2{
    text-align: center;
    margin: 10px;
}

.post-form form{
    text-align: center;
    align-items: center;
}

.post-form label{
    padding-left: 2rem;
    text-align: center;
    align-items: center;
}

.post-form input,
.post-form select,
.post-form textarea{
    margin-left: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.post-form textarea{
    resize: none;
    height: 15px;
}

.post-form button{
    background-color: #28f747;
    width: 150px; 
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px 350px 0px 350px;
    padding: 5px;
    font-size:15px;
}