
.About h1{
    top: 60px;
    left: 800px;
    color: #6f79a8;
    position: absolute;
    z-index: 2;
}

.About p{
    top: 140px;
    left: 500px;
    position: absolute;
    z-index: 2;
    line-height:1.6;
    font-size: x-large;
}

.Education  h1{
    top: 260px;
    font-size: 30px;
    left: 845px;
    color: #8992b8;
    position: absolute;
    z-index: 2;
}

.p1{
    top: 300px;
    left: 500px;
    position: absolute;
    z-index: 2;
    line-height:1.6;
    font-size: x-large;
}

.p2{
    top: 340px;
    left: 500px;
    position: absolute;
    z-index: 2;
    line-height:1.6;
    font-size: x-large;
}

.Personal  h1{
    top: 400px;
    left: 850px;
    position: absolute;
    z-index: 2;
}

.p3{
    top: 480px;
    left: 500px;
    position: absolute;
    z-index: 2;
    line-height:1.6;
    font-size: x-large;
}

.p4{
    top: 520px;
    left: 500px;
    position: absolute;
    z-index: 2;
    line-height:1.6;
    font-size: x-large;
}