#box .rectangle {
    background-color: #ffffffb2;
    border-radius: 20px;
    top: 67px;
    left: 430px;
    height: 600px;
    position: absolute;
    text-align: center;
    z-index: 2;
    width:1000px;
  }
  